{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendee creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="button" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a name="Create" class="button" href="{{ path('attendee_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
