{% extends 'base.html.twig' %}

{% block body %}
  <section class="hero is-warning">
    <div class="hero-body">
      <p class="title">{{ status_code }}: {{ status_text }}</p>
    </div>
  </section>
{% endblock %}
