<td>
  <a href="{{ path('opeevent_show', {'id': event.id}) }}">{{ event.title }}</a>
</td>
<td>
  <a class="button is-pulled-right" href="{{ path('opeevent_report', { 'id': event.id }) }}">generate attendance</a>
  <a class="button is-pulled-right" href="{{ path('opeevent_edit', { 'id': event.id }) }}">edit</a>
</td>
